<%- include('./header.ejs') %>

  <section id="home_page_seek_truth_block">
    <div class="inner">

      <img src="/Images/seek-truth-1.png" alt="Seek Truth">

      <div class="home_page_seek_truth_block_button">
        <a href="About">Discover Our Campus<img
            src="/Images/chunky-arrow.svg"
            alt=""></a>
      </div>
      <div class="home_page_seek_truth_block_text">
        <p>At Providence College, truth is more than a set of facts or isolated ideas. It is a way of engaging with the
          world. We believe that learning is not just about acquiring knowledge, but about understanding our purpose,
          making meaningful connections, and contributing to the greater good. Education here is a journey toward
          clarity, responsibility, and a life well-lived—where curiosity leads to insight, and insight leads to impact.
        </p>
      </div>
    </div>
  </section>
  


  <section id="courses">

    <section class="pt-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome User</h1>
          <p class="">PROVIDENCE COLLEGE, USA</p>
          <hr>
        </div>
      </div>
    </section>

    <!-- BOARD -->
    <div class="album py-5">
      <div class="container">
        <h1 style="text-align: center;" class=" fw-light py-lg-3">BOARD OF <span>Governers</span></h1>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">

          <div class="col">
            <div class="card shadow-sm">
              <div class="sellector">
              <img class="rounded w-100 img1122 " src="/Images/chairperson.png" alt="Course-1" height="400rem">
</div>
              <div class="card-body text-center">
                <h4>Mariamma George Mathew</h4>
                <p class="card-text">Chairperson<br /> Executive Director, Dulam International</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="/Images/secretary.png" alt="Course-1" height="400rem">
              <div class="card-body text-center">
                <h4>Nitin Mathew</h4>
                <p class="card-text">Secretary <br />
                  Chief Commercial Officer, Euryka AI</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="/Images/member.png" alt="Course-1" height="400rem">
              <div class="card-body text-center">
                <h4>Dr. Santhosh Simon</h4>
                <p class="card-text">Member Secretary <br />
                  Principal, Providence College </p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- End BOARD -->


    <!-- Courses -->
    <div class="album py-5">
      <div class="container">
        <h1 style="text-align: center;" class=" fw-light py-lg-3">COURSES</h1>
        <hr>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!-- btech-1 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="./Images/Course-1.jpeg" alt="Course-1" height="200rem">
              <div class="card-body text-center">
                <h2>B.Tech</h2>
                <p class="card-text">B.Tech is a professional undergraduate engineering degree</p>
                <% if(btech){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#btech">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

          <!-- bca-2 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="./Images/Course-2.jpeg" alt="Course-2" height="200rem">
              <div class="card-body text-center">
                <h2>BCA</h2>
                <p class="card-text">BCA is a three-year program focusing on computer applications and software development.</p>
                <% if(bca){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#bca">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

          <!-- bba-3 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="./Images/Course-3.jpeg" alt="Course-3" height="200rem">
              <div class="card-body text-center">
                <h2>BBA</h2>
                <p class="card-text">BBA is a professional undergraduate degree in Business Administration</p>
                <% if(bba){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#bba">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

          <!-- llb-1 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="/Images/law.jpg" alt="Course-1" height="200rem">
              <div class="card-body text-center">
                <h2>BA.LLB</h2>
                <p class="card-text">BA.LLB  is a combined undergraduate degree of both Bachelor of Arts (BA) and Bachelor of Laws (LLB). </p>
                <% if(llb){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#llb">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

          <!-- bgmc-2 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="./Images/bgmc.webp" alt="Course-2" height="200rem">
              <div class="card-body text-center">
                <h2>BJMC</h2>
                <p class="card-text">BJMC teaches the skills and knowledge of journalism like collecting and delivering information</p>
                <% if(bjmc){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#bjmc">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

          <!-- mba-3 -->
          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded w-100" src="./Images/MBA.jpg" alt="Course-3" height="200rem">
              <div class="card-body text-center">
                <h2>MBA</h2>
                <p class="card-text">MBA is a a professional degree focused on Business Administration</p>
                <% if(mba){%>
                  <a href="/courseDisplay" class="btn btn-primary">Course Display</a>
                  <%}else{%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#mba">Register</button>
                             <% } %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end Courses -->




  </section>


  <!--Btech Modal -->
  <div class="modal fade" id="btech" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="btech" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>
  <!--End Btech Modal -->

  <!--BCA Modal -->
  <div class="modal fade" id="bca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="bca" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>
  <!--End BCA Modal -->

  <!--BBA Modal -->
  <div class="modal fade" id="bba" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="bba" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>
  <!--End BBA Modal -->

  <!--LLB Modal -->
  <div class="modal fade" id="llb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="llb" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!--Bjmc Modal -->
  <div class="modal fade" id="bjmc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="bjmc" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!--MBA Modal -->
  <div class="modal fade" id="mba" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/course_insert" method="post">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" value="<%= n %>" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Email</label>
              <input type="text" value="<%= e %>" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Phone no.</label>
              <input type="number" name="phone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">DOB</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Gender</label>
              <input type="radio" name="gender" value="male">Male
              <input type="radio" name="gender" value="female">Female
            </div>
            <div class="mb-3">
              <label for="">Education</label>
              <select name="education" class="form-control form-select">
                <option value="">select education</option>
                <option value="10">10th</option>
                <option value="12">12th</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="">Course</label>
              <input type="text" value="mba" readonly class="form-control" name="course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>
  <!--End MBA Modal -->


  <%- include('./footer.ejs') %>