<%- include('../header.ejs') %>

<br>
<br>
<br>    
<center><h1>Course Details</h1>
<hr style="width: 50%;"></center>

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-info text-center">
                <td colspan="7">Course Display</td>
                <% if(msg.length > 0){  %>
                    <div class="alert alert-success">  
                   <!-- to print -->
                   <%= msg %>
               </div>
              <% } %>
            </tr>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Course</td>
                <td>Status</td>
                <td>Comment</td>

                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% c.forEach((item)=>{ %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.course %></td>
                    <td><%= item.status %></td>
                    <td><%= item.comment %></td>

                    <td>
                        <a href="/viewCourse/<%=item.id%>" class="btn btn-primary">View</a>
                        <a href="/editCourse/<%=item.id%>" class="btn btn-success">Edit</a>

                    </td>

                </tr>

            <% }) %>
        </tbody>

    </table>

</div>

<%- include('../footer.ejs') %>